#quotes{
    border: 1px solid white;
    height: fit-content;
    width: 40%;
}
#btn{
    font-weight: 800;
    color: red;
    width: 100px;
    height: 40px;
    margin-left: 60px;
    margin-top: 10px;
    border: none;
}
#btn:hover{
    background-color: black;
}